article h3, article p {
    padding: .5rem;
    margin: 0;
}

article h3 {
    color: cornflowerblue;
    font-size: 200%;
}

article img {display: none;}

/*#kep p {background-color: lightyellow;}*/
#blue h3 {
    background-color: blue;
    color: white;
}

#cfb h3 {
    background-color:cornflowerblue;
    color: white;
}

/*#raszt p {background-color: lightgreen;}*/
#green h3 {
    background-color: green;
    color: white;
}

/*#vekt p {background-color: lightblue;}*/
#brown h3 {
    background-color:brown;
    color: white;
}

/*#vekt3d p {background-color: lightblue;}*/
#darkcyan h3 {
    background-color:darkcyan;
    color: white;
}

/*#game p {background-color: lightpink}*/
#crimson h3 {
    background-color:crimson;
    color: white;
}

/*#film p {background-color: #CBC3E3;}*/
#purple h3 {
    background-color: purple;
    color: white;
}

@media(min-width:1081px){
    article {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 1rem;
        padding: 0 10%;
    }

    article div {padding: 2rem;}

    article img {display: inline; width: 100%;}
}