.kezdolap {
    display: grid;
    grid-template-columns: 50% 50%;
    /*column-gap: 2rem;*/
    padding: 0 10%; /*a képernyő két szélén*/
    margin: 2rem 0;
}
.kezdolap img {width: 100%;}

.kezdolap section {padding: 0;}

section div {
    padding: 2rem;
    /*height: 25rem;*/
}

button {
    border: none;
    padding: 0;
}

button a {
    display: block;
    background-color: cornflowerblue;
    color: white;
    padding: 1rem 3rem;
}

button a:hover {
    text-decoration: none;
    background-color: orange;
    color: white;
}

section h3 {margin: 0;}