.kezdolap {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
    padding: 0 10%; /*a képernyő két szélén*/
    margin: 2rem 0;
}

section div {
    padding: 2rem;
    height: 25rem;
}
section h3, section p, section button {
    display: none;
}

button {
    border: none;
    padding: 0;
}

button a {
    display: block;
    background-color: cornflowerblue;
    color: white;
    padding: 1rem 3rem;
}

button a:hover {
    text-decoration: none;
    background-color: orange;
    color: white;
}

section h3 {margin: 0;}

#iras {
    background-image: url("../iras/typewriter-1170657_1280-169.jpg");
    background-size: cover;
    background-position: center;
}

#grafika {
    background-image: url("../muv/ai-generated-8166706_1920-169.png");
    background-size: cover;
    background-position: center;
}

#szin {
    background-image: url("../szin/enactment-258631_1920-169.jpg");
    background-size: cover;
    background-position: center;
}

#film {
    background-image: url("../film/sony-1455035_1280-169.jpg");
    background-size: cover;
    background-position: center;
}

#anim {
    background-image: url("../anim/owl-7672073_1280-169.jpg");
    background-size: cover;
    background-position: center;
}

#zene {
    background-image: url("../zene/singer-2606347_1920-169.jpg");
    background-size: cover;
    background-position: center;
}

#bevez {
    background-image: url("../nyitokepek/interior-design-8781907_1280-169.png");
    background-size: cover;
    background-position: center;
}

#poligon {
    background-image: url("../poligon/Gumroad-Avatar-Character-modeling-Blender-Full-videos-recorded-and-resourses-by-FlyCat-1-169.jpg");
    background-size: cover;
    background-position: center;
}

#grafjatek {
    background-image: url("../jatek/game-controller-5619105_1280-169.jpg");
    background-size: cover;
    background-position: center;
}

#haromde {
    background-image: url("../nyitokepek/laserwallp.jpg");
    background-size: cover;
    background-position: center;
}

section:hover div {
    background-image: linear-gradient(to bottom, white, rgba(255,255,255,.6));
}
section:hover * {display: block;}