#harmas {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 20rem;
}

#kepszerk {
    background-image: url('../kep/woman-2435605_1280-169.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
#keppaly {
    background-image: url('../kep/photographer-2179204_1280.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
#aikep {
    background-image: url('../kep/tengrai_image_1707657722_059395.png');
    background-size: cover;
    background-position: center;
    color: white;
}

#cad3d {
    background-image: url('../cad/cad.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
#print3d {
    background-image: url('../cad/delivered-issue-05-2016-3d-printing-a-new-dimension-new.web.745.320.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
#scan3d {
    background-image: url('../cad/scan3d.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

#gamejam {
    background-image: url('../jatek/platformer.jpg');
    background-size: cover;
    color: white;
}
#esport {
    background-image: url('../jatek/playstation-6689793_1280.jpg');
    background-size: cover;
    color: white;
}
#vr {
    background-image: url('../jatek/virtual-reality-4490469_1280.jpg');
    background-size: cover;
    color: white;
}

#harmas h2, #harmas p {padding: 0 2rem;}

#kepszerk:hover, #keppaly:hover, #aikep:hover, #cad3d:hover, #print3d:hover, #scan3d:hover, #gamejam:hover, #esport:hover, #vr:hover {
    background-image: none;
    color: #0881A3;
    transition: .5s;
}