.fulszoveg p {font-size: 120%;}

a, a:hover {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 3rem;
    /*color: rgb(239, 62, 54);*/
    color: orangered;
}

#bev h1 {
    font-family:"Palanquin Dark", sans-serif;
    text-transform: uppercase;
    font-size:5rem;
}

#bev img {display: none;}

article h3, article p {
    padding: .5rem;
    margin: 0;
}

section h3, article h3 {
    color: cornflowerblue;
    font-size: 200%;
}

#alkezdo img, article img {display: none;}

#elvalaszto {
    width: 10%;
    display: block;
    margin: 3rem auto;
    border-radius: 50%;
}

@media(min-width:1081px){
    .alcim {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0 10%;
        /*height: 30rem;*/
    }
    .alcim p {
        margin: 0;
        background-color: rgba(255, 255, 255, .8);
        padding: 1rem 2rem;
    }
    #bev {
        display: grid;
        grid-template-columns: 50% 50%;
        /*padding: 0 10%;*/

        background-image: url("../static/futuristic-architecture-6694976_1920.jpg");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #bev img {
        display: block;
        border: 1px solid black;
        border-radius: 50%;
        max-width: 20%;
        height: auto;
        margin: auto;
        box-shadow: 5px 5px lightblue;
    }
    #bev h1 {
        text-align: center;
    }
    #bevkep {
        background-image: linear-gradient(to right, rgba(255,255,255,.0), rgba(255,255,255,.4));
        /*display: flex;*/
        /* justify-content: center; /* Vízszintesen középre */
        /*align-items: center;    /* Függőlegesen középre */
    }
    #bevtext {
        background-image: linear-gradient(to right, rgba(255,255,255,.4), white);
        font-size:larger;
        padding: 1rem 2rem;
    }
    #bevtext p {
        color: orangered;
    }
    .jt {margin-right: 2.5rem;}
    .bt {margin-left: 2.5rem;}

    .leir {
        margin: 0 10% 2rem 10%;
        font-size:large;
    }

    #alcimhardver {
        background-image: url("../nyitokepek/interior-design-8781907_1280.png");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcim2d {
        background-image: url("../nyitokepek/grafika.jpg");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimvektor {
        background-image: url("../vektor/mountains-1524804_1280.png");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimkep {
        background-image: url("../kep/woman-2435605_1280.jpg");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcim3dgrafika {
        background-image: url('../nyitokepek/laserwallp.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcim3d {
        background-image: url('../cad/cad.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimpoli {
        background-image: url('../poligon/deer-3275594_1920.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimjatek {
        background-image: url('../nyitokepek/game-controller-5619105_1280.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimesport {
        background-image: url('../jatek/music-7502317_1280-169.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }

    #alcimiras {
        background-image: url("../iras/typewriter-1170657_1280.jpg");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimmuv {
        background-image: url("../muv/ai-generated-8166706_1920.png");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimcartoon {
        background-image: url("../muv/cats-7122943_1280.png");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimanim {
        background-image: url('../anim/avatar-1738010_1920.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimszin {
        background-image: url("../szin/enactment-258631_1920.jpg");
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: top;
        background-size:cover;
    }
    #alcimtanc {
        background-image: url('../tanc/dance-430554_1280-2.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimzene {
        background-image: url('../zene/singer-2606347_1920-169.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimfilm {
        background-image: url('../film/sony-1455035_1280.jpg');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #webintro {
        background-image: url('../webszerk/frontend.png');
        background-attachment: fixed;/*CSAK ENNYIT ÍRTAM HOZZÁ!!!*/
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }

    h1 {
        padding: 3rem 0;
        text-align: center;
    }

    #alkezdo {
        /*display: grid;
        grid-template-columns: 25% 25% 25% 25%;*/
        margin: 0 20% 0 10%;
    }
    #alkezdo a {
        color: #0881A3;
        /*margin: 0 10%; /*a képernyő két szélén*/
        transition: transform .2s;
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 2rem 0;
        border-bottom: 1px solid;
    }
    #alkezdo a:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    }

    section img {display: inline;}
    #alkezdo img, article img {display: inline; width: 100%;}

    #elvalaszto {max-width: 5%;}
}