.fulszoveg p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    padding: 0 1rem;
}

/*#bemutat div {background-color: #F5FFFA;}*/

#bemutat a:hover {
    text-decoration: none;
}

#index h1 {
    margin: 0;
    font-size: 3rem;
    color: rgb(239, 62, 54);
}

.baljobb {
    display: block;
}
.baljobb aside {display: none;}
#szurke {color: grey;}
#sarga {color: orange;}
#lila {color:blueviolet;}
#zold {color: green;}
#piros {color:crimson;}
#citrom {color:yellowgreen;}

.bal img, .jobb img {display: none;}

button {
    padding: 0;
    display: block;
    margin-left: 2rem;
}

button a {
    display: block;
    background-color: white;
    color: orange;
    padding: .5rem;
    border: 1px solid orange;
}

button a:hover {
    text-decoration: none;
    border: 1px solid orange;
    background-color: orange;
    color: white;
}

#elvalaszto {
    width: 30%;
    display: block;
    margin: 5rem auto;
    border-radius: 50%;
}

@media(min-width:1081px){
    .fulszoveg {
        display: grid;
        grid-template-columns: 50% 50%;

        background-image: url("backgrounds-8797576_1920.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    .fulszoveg p {
        padding: 1rem 2rem;
        background-color: rgba(255, 255, 255, .8);
        margin: 0;
    }

    #elvalaszto {
        display: block;
        max-width: 10%;
        height: auto;
    }

    #index {
        display: block;
    }

    .begin {
        padding-top: 3rem;
    }
    .alcim {
        display: grid;
        grid-template-columns: 50% 50%;
        /*height: 30rem;*/
    }
    .alcim h1, p {
        margin: 0;
        background-color: rgba(255, 255, 255, .8);
        padding: 1rem 2rem;
    }
    #alcimhardver {
        background-image: url("interior-design-8781907_1280.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcim2d {
        background-image: url("ai-generated-8166706_1920.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcim3d {
        background-image: url('laserwallp.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    #alcimanim {
        background-image: url('lens-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }

    h1 {
        padding: 3rem 0 3rem 20%;
    }

    #index h2 {border: none;}

    .baljobb {
        display: grid;
        grid-template-columns: 20% 80%;
        padding: 0;
        margin: 2rem 0;
    }
    .baljobb aside {
        display: block;
        font-weight: bold;
    }

    .bal h1, .jobb h1 {margin-left:2rem;}
    .bal {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .jobb {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .jobb img {
        display: inline;
        width:100%;
        border-radius: 50%;
    }
    .jobb p {
        padding: 2rem;
        border-top: 1px solid;
        border-left: 1px solid;
    }
    
    .bal img {
        display: inline;
        width:100%;
        border-radius: 50%;
    }
    .bal p {
        padding: 2rem;
        border-top: 1px solid;
        border-right: 1px solid;
    }
}