/* ============ MAIN BEGIN ============ */

main {
    /*background-color: rgba(26,26,29,.8);*/
    /*color: white;*/
    padding: 1em;
}

aside {padding-right: 1rem;}
aside h1, aside p {padding-left: .5rem;}

/* ============ ASIDE és NAV BEGIN ============ */

aside a, section a {
    text-decoration: none;
    color: orange;
}

nav ul {
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #0881A3;
    display: block;
    text-decoration: none;
    padding: .5rem;
    font-size: 100%;
    border-radius: 6px;
}

nav a:hover {
    background-color: rgb(239, 62, 54);
    color: white;
}

hr {margin: 0;}

#aktiv {
    background-color: rgb(239, 62, 54);
    color: white;
}

/* ============ ASIDE és NAV END ============ */

/* ============ SECTION BEGIN ============ */

section h1 {
    color: rgb(239, 62, 54);
}

#t {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px dotted;
}

h3 {border-bottom: 1px solid;}

section a:hover {text-decoration: underline;}

#zaro {
    color: rgb(239, 62, 54);
    font-weight: bold;
}

iframe {
    display: block;
    margin: auto;
}

/* ============ SECTION END ============ */

@media(min-width:1081px){
    main {
        display: grid;
        grid-template-columns: 20% 80%;
        padding: 0; 
    }

    p, section li {text-align: justify;}
}