body {
    /*background-color: cadetblue;*/
    background-image:url('laserwallpkicsi.jpg');
    background-size: 100%;
    background-attachment: fixed;

    font-family: Arial;
    margin: 0;
}

header {
    background-color: rgba(255,255,255,.8);
    border-bottom: 1px solid;
}

main {
    background-color: rgba(26,26,29,.8);
    color: white;
    padding: 1em;
}

header {
    padding: 2rem .5em;
}

aside {
    padding: .8em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    color:orange;
    display: block;
    text-decoration: none;
    padding: .5em;
}

nav a:hover {
    background-color:chocolate;
    color: white;
}

section ul {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px dotted;
}

aside a, section a {
    text-decoration: none;
    color: orange;
}
aside a:hover, section a:hover {
    text-decoration: underline;
}

aside {
    font-size: 80%;
}

h3 {
    border-bottom: 1px solid;
}

footer {
    border-top: 1px solid;
    background-color: rgba(255,255,255,.8);
    padding: 1rem;
}
footer img {
    display: block;
    width: 7rem;
    margin: auto;
}

footer p {
    text-align:center;
}

footer a {
    text-decoration: none;
    font-size: 80%;
    color: chocolate;
}

footer a:hover {
    background-color: chocolate;
    color: white;
    transition: .5s;
}

@media(min-width:1081px){
    body {
        background-image:url('laserwallp.jpg');
        background-size: 100%;
        background-attachment: fixed;

        width: 80%;
        margin: auto;
    }
    main {
        display: grid;
        grid-template-columns: 25% 75%;
        padding: 0;
    }

    p {
        text-align: justify;
    }
}