div * {border: none;}

div h2 {
    margin: 0 0 1rem 0;
}

article {
    margin: 0 0 1rem 1rem;
    color: black;
}

article h3, article p {
    padding: .5rem;
}

article h3 {
    margin: 0;
}

.alap h3 {
    background-color: grey;
    color: white;
}

.alap {
    background-color: lightgray;
}

#kep {
    background-color: lightyellow;
}

#kep h3 {
    background-color: orange;
    color: white;
}

#raszt {
    background-color: lightgreen;
}

#raszt h3 {
    background-color: green;
    color: white;
}

#vekt {
    background-color: lightblue;
}

#vekt h3 {
    background-color: blue;
    color: white;
}

#vekt3d {
    background-color: lightblue;
}
#vekt3d h3 {
    background-color:darkcyan;
    color: white;
}

#game {
    background-color: lightpink;
}
#game h3 {
    background-color:crimson;
    color: white;
}

#film {
    background-color: #CBC3E3;
}
#film h3 {
    background-color: purple;
    color: white;
}

button {
    background-color: orange;
    border: 1px solid orange;
    padding: 0;
}

button a {
    display: block;
    color: white;
    padding: .5rem;
}

button:hover {
    background-color: white;
    border: 1px solid orange;
}

button a:hover {
    text-decoration: none;
    color: orange;
    
}

@media(min-width:1081px){
    #begin {
        display: grid;
        grid-template-columns: 20% 40% 40%;
    }
}